{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "ecmascript": 6
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "indent": [2, 2],
    "strict": [2, "global"],
    "quotes": [2, "single"],
    "no-underscore-dangle": false,
    "no-mixed-requires": false,
    "no-multi-spaces": false,
    "no-unused-vars": false,
    "key-spacing": false,
    "comma-spacing": false,
    "camelcase": false
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true,
    "Modernizr": false,
    "socket": false,
    "React": false,
    "io": false,
    "$": false
  }
}
