#OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

#ENV
.grunt
node_modules
/**/*.gz*
/design
/public/css/*.css*
/public/js/*.js*
/public/*.html
/tools/updater/_*
/tools/updater/current.json
/tools/updater/data
/tools/updater/img
/tools/picks/data
/*.html
temp*
newrelic_agent.log
npm-debug.log
