// Variables
// ==================================================

// Fonts
// --------------------------------------------------

$font-family                   :    Helvetica, Arial, sans-serif;


// Colors
// --------------------------------------------------

$default-color                 :    #000;
$alt-color                     :    #999;


// Breakpoints
// --------------------------------------------------

$bp-small                      :    500px;
$bp-medium                     :    800px;
$bp-large                      :    1000px;


// Animation
// --------------------------------------------------

$default-timer                 :    .4s;
