// Core Styles
// ==================================================

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  min-width: $page-width;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, button {
  transition: $hover-duration;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a, button, input, select {
  outline: none;
}

#main {
  height: 100%;
  width: $page-width;
  max-width: $page-width;
  margin: 0 auto;
  user-select: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  margin-bottom: -30px;
  overflow: hidden;
  transform: translateZ(0);

  &:after {
    content: "";
    display: block;
  }
}

.wrap {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: $content-width;
  margin: $header-height auto $header-height/2;
  transform: translateZ(0);
}

.section {
  flex-direction: column;
}
