// Menu & Navigation
// ==================================================

// Header
// --------------------------------------------------

header {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  float: left;
  height: $header-height;
  width: 100%;
  min-width: $page-width;
  margin: 0 auto;
  color: #FFF;
  background: #000;

  .inner {
    height: inherit;
    width: $page-width;
    margin: 0 auto;
  }

  h1 {
    float: left;
    height: $header-height;
    width: 240px;
    margin: 0;
    padding-left: 30px;
    line-height: $header-height;
    font-size: 22px;
    cursor: default;

    span.beta-tag {
      color: #AAA;
      font-size: 11px;
      font-weight: normal;
    }
  }

  #notify {
    float: left;
    height: 40px;
    width: 350px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: default;
    opacity: 0;
    transition: 1s;

    &.active {
      opacity: 1;
    }

    &.error {
      color: #CF6C6C;
      text-shadow: 0 0 10px rgba(255,0,0, 1);
    }

    &.tip {
      color: #75A0FF;
      text-shadow: 0 0 10px rgba(93,163,244, 1);
    }

    &.success {
      color: #6CCF6C;
      text-shadow: 0 0 10px rgba(0,255,0, 1);
    }
  }

  nav {
    position: relative;
    float: right;
    height: $header-height;
    width: 400px;
    padding-right: 30px;
    line-height: $header-height;
    text-align: right;

    ul {
      float: right;
    }

    li {
      float: right;
      height: inherit;
    }

    a {
      display: block;
      height: inherit;
      padding: 0 17px;
      line-height: inherit;
      color: $alt-color;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        color: #CCC;
      }

      &.active {
        color: #FFF;
        cursor: default;
      }
    }

    select#team-select {
      float: right;
      height: 24px;
      width: 180px;
      margin-top: 18px;
      margin-left: 20px;
      color: #222;
      line-height: 24px;
      font-size: 12px;
      font-weight: bold;
      background-color: #D6D6D6;
      border: 0;
    }

    #team-select-reminder {
      z-index: 4;
      position: absolute;
      top: 65px;
      right: 218px;
      height: 20px;
      width: 120px;
      line-height: 20px;
      font-size: 12px;
      font-weight: bold;
      color: #BBB;
      opacity: 0;
      cursor: default;
      transition: .35s;

      &.active {
        opacity: 1;
      }

      i {
        position: relative;
        top: -3px;
        right: -2px;
        transform: rotate(-35deg);
        font-size: 13px;
      }
    }
  }
}


// Footer
// --------------------------------------------------

footer {
  height: 30px;
  width: $content-width;
  margin: 0 auto;
  padding-right: 10px;
  line-height: 30px;
  text-align: right;
  color: #DDD;
  font-size: 10px;
  font-weight: bold;
  cursor: default;

  span.version {
    color: #EEE;
  }
}
