header {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  float: left;
  height: $header-height;
  width: 100%;
  min-width: $page-width;
  margin: 0 auto;

  .inner {
    position: relative;
    height: 30px;
    width: $content-width;
    margin: 25px auto 0;
    opacity: 0;
    transition: .35s;

    &.active { opacity: 1; }
  }

  img {
    float: left;
    height: 43px;
    width: 230px;
    margin-top: -7px;
  }

  .beta-tag {
    position: absolute;
    top: 31px;
    left: 163px;
    color: rgba(41,120,202, .7);
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;

    span.version { color: rgba(255,255,255, .25); }
  }
}

nav {
  position: relative;
  float: right;
  height: 0;
  padding-right: 0;
  padding-left: 10px;
  line-height: 30px;
  text-align: right;
  opacity: 0;
  transition: opacity $view-shift, height $view-hide;

  &.active {
    height: 30px;
    opacity: 1;
    transition: opacity $view-delay, height $view-hide;
  }

  ul { float: right; }

  li {
    position: relative;
    float: right;
    height: inherit;
  }

  a {
    position: relative;
    display: block;
    height: 40px;
    margin-top: -1px;
    padding: 0 24px;
    line-height: inherit;
    color: #AAA;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    opacity: .75;

    &:hover {
      color: #EEE;
      text-shadow: 0 0 7px rgba(255,255,255, .5);
      opacity: .8;
    }

    &.active {
      color: #FFF;
      opacity: .8;
      cursor: default;

      &:hover {
        color: #FFF;
        text-shadow: none;
      }
    }

    i {
      position: absolute;
      top: 9px;
      left: 2px;
      font-size: 14px !important;

      &.fa-calculator { top: 10px; font-size: 11px !important; }
    }
  }
}

#help-link {
  cursor: default;
  transition: 1s;

  &:hover {
    color: #AAA;
    text-shadow: none;
    opacity: .75;
  }

  &.active, &.active:hover {
    color: #FFF;
    text-shadow: 0 0 10px #FFF;
    opacity: .85;
  }

  &.hover {
    color: #FFF;
    text-shadow: 0 0 10px #FFF;
    transition: .4s;
  }
}

#video-demo-link {
  position: absolute;
  display: block;
  top: 42px;
  right: 20px;
  width: 145px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  opacity: .6;

  &:hover { opacity: .75; }

  i {
    float: left;
    margin-top: -1px;
    margin-left: -5px;
  }
}

#video-demo-link, #tools-link { display: none; }

#team-select {
  position: relative;
  float: right;
  height: 24px;
  width: 180px;
  margin-top: 3px;
  margin-left: 20px;
  padding-left: 8px;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  line-height: 24px;
  background: #999;
  box-shadow: 0 0 0 transparent;
  border-radius: 4px;
  opacity: .8;
  transition: .3s;

  &:hover {
    box-shadow: 0 0 7px rgba(255,255,255, .5);
    opacity: 1;
    cursor: pointer;
  }

  &.clicked { cursor: default; }

  i {
    position: absolute;
    top: 6px;
    right: 9px;
    width: 12px;
    color: #222;
    font-size: 13px;
    text-align: center;
  }
}

#notify {
  float: left;
  height: 30px;
  width: 370px;
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  border-radius: 0;
  opacity: 0;
  transition: 1s;
  transition-timing-function: ease-out;

  opacity: 1;
  position: absolute;
  left: 250px;
  width: 500px;
  top: 38px;
  height: 36px;
  border-radius: 5px;

  &.active { opacity: 1; }

  &.error {
    color: #CF6C6C;
    text-shadow: 0 0 10px rgba(255,0,0, 1);
  }

  &.tip {
    color: #75A0FF;
    text-shadow: 0 0 10px rgba(93,163,244, 1);
  }

  &.success {
    color: #6CCF6C;
    text-shadow: 0 0 10px rgba(0,255,0, 1);
  }
}

footer {
  height: 40px;
  width: $content-width;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 10px;
  line-height: 30px;
  text-align: right;
  color: rgba(255,255,255, .35);
  font-size: 10px;
  font-weight: bold;
  opacity: 0;
  cursor: default;
  // transition: .35s .5s;

  &.active { opacity: 1; }


  .alt { color: rgba(255,255,255, .25); }

  ul {
    position: relative;
    float: right;
    width: 300px;
  }

  li { float: left; }

  a, .nextup, .credits {
    float: left;
    padding: 0 8px;
    color: inherit;
    text-decoration: none;

    &:hover { color: rgba(255,255,255, .6); }
    &.disabled {
      color: rgba(255,255,255, .25);
      cursor: default;
    }
  }

  .nextup:hover #nextup, .credits:hover #credits {
    bottom: 28px;
    height: 95px;
    width: 300px;
    padding: 10px 15px 10px 25px;
    opacity: 1;
    transition: bottom .25s .3s, opaicty .25s .3s, height 0s .3s, width 0s .3s, padding 0s .3s;
  }

  .nextup:hover #nextup {
    width: 380px;
    left: -70px;
  }

  .credits:hover #credits {
    left: -25px;
    height: 95px;
  }

  .logo {
    float: right;

    .divider { padding: 0 5px; }
  }
}

#nextup, #credits {
  position: absolute;
  bottom: 25px; right: 0; left: 0;
  height: 0;
  width: 0;
  padding: 0;
  color: #777;
  font-size: 10px;
  font-weight: 500;
  line-height: 18px;
  list-style-type: square;
  background: rgba(0,0,0, .75);
  border-radius: $border-radius;
  opacity: 0;
  overflow: hidden;
  cursor: default;
  transition: bottom .25s, opaicty .25s, height 0s .25s, width 0s .25s, padding 0s .25s;

  li {
    width: 100%;
    text-align: left;

    a {
      float: none;
      padding: 0;
      border-bottom: 1px dotted #616161;
      margin-left: 3px;
    }
  }
}
