// Sidebar/Menu Panels
// ==================================================

#menu {
  position: relative;
  width: 300px;
  margin-right: $page-spacing;
  opacity: 0;
  transition: .4s;
  transform: translateZ(0);

  &.active {
    opacity: 1;
  }

  .panel .inner {
    height: 166px;
    overflow: hidden;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .panel.inactive .inner {
    height: 0;
  }

  .panel.short .inner {
    height: 100px;
  }
}

.panel {
  position: relative;
  float: left;
  width: inherit;
  margin-bottom: $page-spacing;
  background: rgba(23,24,25, .7);
  border-radius: $border-radius;
  box-shadow: 0 0 2px 0 rgba(123,123,123, .1) inset;
  overflow: hidden;
  cursor: default;
  transition: .4s;
  transform: translateZ(0);

  &:last-of-type {
    margin-bottom: 0;
  }

  &.collapsed, &.short.collapsed {
    height: 33px;

    .title {
      color: #585858;
    }
  }

  .title {
    height: 33px;
    margin-bottom: 1px;
    line-height: 32px;
    color: #838383;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: linear-gradient(to top, #151515 0%, #232323);
    transition: .5s;

    .panel-toggle-button {
      position: absolute;
      top: 0;
      right: 0;
      width: 34px;
      color: #3F3F3F;
      font-weight: bold;
      line-height: 28px;
      transition: color .4s;

      &:hover {
        color: #666;
        text-shadow: 0 0 3px rgba(0,0,0, .75);
        cursor: pointer;
      }

      &.active i {
        transform: translateZ(0) rotate(180deg);
      }

      i {
        font-size: 11px;
        transition: transform .15s;
        transform: translateZ(0) rotate(0deg);
      }
    }
  }

  > .inner {
    background: rgba(255,255,255, .025);
  }

  .inner {
    width: inherit;
    color: #777;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .team-select-reminder {
    position: relative;
    height: inherit;
    width: inherit;
    background: url(../img/select-team-reminder.svg);
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: 55% 48%;
    opacity: .15;
  }
}
