#menu {
  position: relative;
  width: 300px;
  margin-right: $page-spacing;
  text-align: center;
}

.panel {
  position: relative;
  float: left;
  width: 300px;
  margin-bottom: $page-spacing;
  background: rgba(23,24,25, .7);
  border-radius: $border-radius;
  box-shadow: 0 0 2px 0 rgba(123,123,123, .1) inset;
  overflow: hidden;
  transition: .4s;
  transform: translateZ(0);

  &.collapsed {
    height: $panel-titlebar-height !important;

    .title { color: #585858; }
  }

  .inner {
    width: 300px;
    color: #777;
    font-size: 12px;
    font-weight: bold;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .title {
    height: $panel-titlebar-height;
    margin-bottom: 1px;
    line-height: $panel-titlebar-height;
    color: #838383;
    font-size: 13px;
    font-weight: bold;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: linear-gradient(to top, #151515 0%, #232323);
    cursor: default;
    transition: .3s;

    a {
      position: absolute;
      top: 0;
      right: 0;
      width: 34px;
      color: #3F3F3F;
      font-weight: bold;
      line-height: 28px;
      cursor: pointer;
      transition: color .4s;

      &:hover {
        color: #666;
        text-shadow: 0 0 3px rgba(0,0,0, .75);
      }

      &.active i { transform: translateX(-2px) translateY(2px) rotate(180deg); }

      i {
        font-size: 11px;
        transition: transform .15s ease-out;
        transform: translateZ(0) rotate(0deg);
      }
    }
  }

  .list-drag-cover {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 300px;

    &.active {
      z-index: 3;
      display: block;
    }
  }
}

.loading-list, .remove-player, .waiting {
  position: absolute;
  top: 0;
  height: 0;
  width: 300px;
  color: rgba(255,255,255, .2);
  font-size: 18px;
  font-weight: 500;
  line-height: 200px;
  background: rgba(23,24,25, .8);
  border-radius: $border-radius;
  box-shadow: 0 0 100px 0 rgba(0,0,0, .5) inset;
  opacity: 0;
  overflow: inherit;
  transform: translateZ(0);
  transition: opacity .3s, height 0s .3s;

  .short & { line-height: 134px; }

  i {
    position: relative;
	  right: 5px;
    font-size: 18px;
  }

  .cover {
    position: absolute;
    z-index: 4;
    top: 0;
    height: 100%;
    width: inherit;
  }
}

.loading-list.active,
.remove-player.active,
.waiting.active {
  z-index: 3;
  height: 100%;
  opacity: 1;
  transition: opacity .4s, height 0s, color .4s, box-shadow .4s;

  &.hover {
    color: rgba(255,255,255, .4);
    background: rgba(23,24,25, .9);
    box-shadow: 0 0 120px 0 rgba(0,0,0, .8) inset;
    transition: .5s ease-out;
  }
}

.loading-list {
  background: rgba(23,24,25, .95);
  transition: opacity .3s .2s, height 0s .5s;

  i {
    position: relative;
    top: 2px;
    left: -6px;
    font-size: 21px;
  }
}
