// Sidebar/Menu Panels
// ==================================================

#menu {
  position: relative;
  width: 300px;
  margin-right: $page-spacing;
  opacity: 0;
  transition: .25s;

  &.active {
    opacity: 1;
  }

  .panel .inner {
    min-height: 172px;
    max-height: 220px;
    overflow: hidden;
  }

  .panel.inactive .inner {
    min-height: 0px;
    height: 0;
  }

  .panel.short .inner {
    min-height: 112px;
  }
}

.panel {
  position: relative;
  float: left;
  width: inherit;
  margin-bottom: $page-spacing;
  background: rgba(0,0,0, .025);
  border-radius: $border-radius;
  box-shadow: 0 0 10px 0 rgba(0,0,0, .05) inset;
  overflow: hidden;
  cursor: default;

  &:last-of-type {
    margin-bottom: 0;
  }

  .title {
    height: 30px;
    line-height: 30px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: #000;
  }

  .inner {
    width: inherit;
    color: #777;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .team-select-reminder {
    position: relative;
    height: 172px;
    width: 300px;
    line-height: 172px;
    text-align: center;
    padding-left: 18px;
    color: #CCC;
    font-size: 12px;
    font-weight: bold;

    i {
      position: relative;
      top: -3px;
      right: -2px;
      font-size: 14px;
      transform: rotate(-35deg);
    }
  }

  &.short .team-select-reminder {
    height: 112px;
    line-height: 112px;
  }

  // Roster Grid [TODO: Move/Repurpose]

  &.group {
    margin-top: 30px;
    background: whitesmoke;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05) inset;
    overflow: visible;

    &.defense {
      width: 430px;
      margin-left: 105px;
    }

    .inner {
      float: left;
      padding-top: 10px;
    }

    .title {
      float: left;
      width: 100%;
      margin-top: -30px;
      color: #D5D5D5;
      font-size: 12px;
      background: none;
    }

    .left, .center, .right {
      float: left;
      height: $tile-height;
      width: 200px;
      margin-right: 10px;
    }

    .left {
      margin-left: 10px;
    }

    .right {
      margin-right: 0;
    }

    .line {
      position: relative;
      float: left;
      height: $tile-height;
      width: 100%;
      margin-bottom: 10px;

      .title {
        position: absolute;
        right: -25px;
        display: block;
        height: $tile-height;
        width: 30px;
        margin-top: 0;
        line-height: $tile-height;
        text-align: right;
        color: #E5E5E5;

        &.goalie {
          width: 20px;
          right: -20px;
        }

        &.starter {
          right: initial;
          left: -18px;
          text-align: left;
        }
      }
    }
  }
}
