#payroll {
  position: absolute;
  z-index: -1;
  width: 960px;

  &.active { z-index: 3; }
  .cap-stats { float: right; }

  h2 {
    height: 32px;
    width: 100%;
    margin: 30px 0 0;
    padding-bottom: 30px;
    color: #666;
    font-weight: 500;
    cursor: default;
    transition: .1s;
  }

  .inner {
    position: absolute;
    top: 92px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $border-radius;
    box-shadow: 0 0 5px 0 rgba(0,0,0, .4) inset;
    overflow: hidden;
  }
}

#payroll-table {
  float: left;
  min-width: 100%;
  padding: 0;
  background: rgba(225,225,225, .15);
  border-radius: $border-radius;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: scroll;

  tr {
    height: 34px;
    color: #999;
    font-size: 11px;
    text-align: center;
    line-height: 34px;
    cursor: default;
    background: rgba(0,0,0, .55) linear-gradient(to bottom, rgba(125,125,125, .25) 0%, transparent 3%);
    // &.overage { font-style: italic; }
    &.even { background: rgba(0,0,0, .65) linear-gradient(to bottom, rgba(0,0,0, .3) 0%, transparent 3%); }

    &.header {
      height: 38px;
      color: #686868;
      font-size: 10px;
      font-weight: 400;
      background: linear-gradient(to top, #151515 0%, #232323 100%);

      .num { background: linear-gradient(to top, rgba(45,46,46, .5) 0%, transparent 75%); }
      .hit { color: #AAA; background: linear-gradient(to top, rgba(0,0,0, .5) 0%, transparent 75%); }
      .cur { color: #AAA; background: linear-gradient(to bottom, rgba(255,255,255, .05) 0%, transparent 75%); }
    }

    &.title {
      height: 28px;
      color: #191919;
      font-weight: bold;
      line-height: 28px;
      background: linear-gradient(to bottom, rgba(155,155,155, .6) 0%, rgba(155,155,155, .3) 100%);

      .first { color: #191919; font-size: 12px; text-shadow: 0 1px 0 rgba(255,255,255, .15); }
      .num, .cur { background: none; }
      .year { color: transparent; font-size: 0; }

      .marker {
        height: 28px;
        font-size: 16px;
        line-height: 28px;
      }

      .hit {
        color: #AAA;
        text-shadow: 0 1px 0 rgba(0,0,0, .5);
        background: linear-gradient(to top, rgba(0,0,0, .8) 0%, rgba(0,0,0, .3) 100%);
      }
    }
  }

  td, th {
    width: 45px;
    min-width: 45px;
    padding: 0;

    &:last-of-type {
      width: 50px;
      padding-right: 5px;
    }

    &.first {
      position: relative;
      width: 180px;
      min-width: 180px;
      max-width: 180px;
      font-weight: bold;
      text-align: left;
    }

    &.num, &.hit {
      width: 50px;
      min-width: 50px;
      max-width: 50px;

      &.zero { color: #555; }
    }

    .marker {
      float: left;
      width: 20px;
      margin-right: 5px;
      margin-left: 9px;
      font-size: 11px;
      text-align: center;
    }
  }

  td {

    &.num, &.hit {
      color: #888;
      font-weight: bold;
      background: rgba(0,0,0, .5); // #2D2E2E;
    }

    &.num {
      color: #666;
      background: rgba(45,46,46, .3);
    }

    &.cur {
      color: #AAA;
      font-weight: bold;
      background: rgba(255,255,255, .05);
    }

    .jersey {
      height: 34px;
      color: #666;
    }

    .name {
      float: left;
      height: 34px;
      width: 130px;
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .status {
      position: absolute;
      top: 11px;
      right: 8px;
      color: #777;
      font-size: 13px;

      &:hover { color: #999; }
      &.fa-money { right: 9px; }
    }

    .UFA, .RFA {
      position: relative;
      top: -1px;
      display: inline-block;
      height: 22px;
      width: 36px;
      font-size: 8px;
      font-weight: bold;
      line-height: 22px;
      border-radius: $border-radius;
    }

    .RFA { color: #295B19; background: #81A082; }
    .UFA { color: #611F1F; background: #9F8081; }
  }
}
