// Payroll
// ==================================================

#payroll {
  position: absolute;
  z-index: -1;
  width: 960px;

  &.active {
    z-index: 3;
  }

  h2 {
    height: 32px;
    width: 100%;
    margin: 30px 0;
    margin-bottom: 0;
    padding-bottom: 30px;
    color: #666;
    font-weight: 500;
    cursor: default;
    transition: .1s;
  }

  .cap-stats {
    float: right;
  }

  .inner {
    position: absolute;
    top: 92px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .25);
    border-radius: $border-radius;
    box-shadow: 0 0 10px 0 rgba(0,0,0, .05) inset;
    overflow: hidden;
  }
}

#payroll-table {
  float: left;
  min-width: 100%;
  border-radius: $border-radius;
  overflow: scroll;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    height: 35px;
    color: #999;
    font-size: 11px;
    text-align: center;
    background: rgba(0,0,0, .4);
  }

  th {
    padding: 0;
    font-size: 10px;
    background: transparent;
    cursor: default;

    &.cap {
      color: #838383;
      font-size: 11px;
    }
  }

  td {
    width: 75px;
    padding: 6px 10px;
    cursor: default;
  }

  i {
    float: right;
    width: 13px;
    color: #777;
    font-size: 13px;
    text-align: center;
    transition: .3s;

    &.fa-money {
      margin-right: 1px;
    }
  }

  .header {
    height: 38px;
    color: #838383;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(to top, #151515 0%, #232323);

    .cap {
      background: none;
    }
  }

  .first {
    width: 205px;
    font-weight: bold;
    text-align: left;
  }

  .odd {
    background: rgba(0,0,0, .5);
  }

  .cap {
    position: relative;
    width: 80px;
    background: rgba(0,0,0, .4);
    font-weight: bold;
    color: #999;

    .odd & {
      background: rgba(0,0,0, .3);
    }
  }

  .title {
    height: 28px;
    color: #CCC;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0, .35);
    background: linear-gradient(to top, rgba(255,255,255, .15) 0%, rgba(255,255,255, .25) 100%);

    i {
      float: left;
      position: relative;
      top: 1px;
      color: #AAA;
      font-size: 13px;
      padding-right: 15px;
    }

    .cap {
      position: relative;
      color: #CCC;
      text-shadow: 0 1px 1px rgba(0,0,0, .75);
      background: linear-gradient(to top, rgba(0,0,0, .2) 0%, rgba(0,0,0, .6) 100%);
    }
  }

  .overage {
    font-style: italic;
  }

  .jersey {
    position: relative;
    display: inline-block;
    left: -4px;
    width: 16px;
    color: #797979;
    font-size: 10px;
    text-align: center;
  }

  .UFA span, .RFA span {
    display: inline-block;
    width: 100%;
    color: #409922;
    line-height: 23px;
    font-size: 9px;
    font-weight: bold;
    background: #BBEFBB;
    border-radius: $border-radius;
    opacity: .6;
  }

  .RFA span {
    color: #BD3D3D;
    background: #F7C8C8;
  }
}
