#roster {
  width: 640px;

  .inner { float: left; }
  .cap-stats { margin: 30px 0; }

  .grid {
    position: relative;
    float: left;
    width: inherit;
    margin-top: 0;
    margin-bottom: 0;
    background: rgba(225,225,225, .15);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    transform: translateZ(0);

    &#forwards > .inner { padding-bottom: 15px; }
    &#forwards .header, &#forwards > .inner { background: rgba(0,0,0, .6); }
    &#forwards .header {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  .left, .center, .right {
    float: left;
    height: 60px;
    width: 192px;
  }

  .left { margin-right: 5px; margin-left: 5px; }
  .center { margin-right: 5px; }

  .header {
    float: left;
    width: 100%;
    height: 33px;
    padding-left: 11px;
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;

    .left, .center, .right { height: inherit; line-height: inherit; }
  }
}

#defense, #goalies {
  background: rgba(0,0,0, .6);
  border-radius: 0;


  & > .inner { padding-bottom: 15px; }
  .header, & > .inner { background: rgba(0,0,0, .6); }
  .header {
    height: 58px;
    width: 640px;
    padding: 25px 0 0 115px;
  }

  .line {
    width: 420px;
    margin-left: 115px;
  }

  .grid-nav {
    width: 392px;
    margin-left: 115px;
  }
}

#goalies {
  margin-bottom: 0;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  & > .inner {
    padding-bottom: 75px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .header { text-indent: -125px; }
}

.line {
  position: relative;
  float: left;
  height: 70px;
  width: 618px;
  margin-bottom: 10px;
  margin-left: 11px;
  background: linear-gradient(to top, rgba(136,136,136, .06) 0%, rgba(206,206,206, .06));
  -webkit-box-shadow: 0 0 30px rgba(255,255,255, .1) inset;
  border-radius: $border-radius;

  &.ir, &.bench {
    height: 0;
    opacity: 0;
    margin-bottom: 0;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(255,255,255, .05) inset;
    transform: translateZ(0);
    transition: opacity .35s, height .35s .35s, margin .35s .35s;

    &.active, &.show {
      height: 40px;
      margin-bottom: 10px;
      opacity: 1;
      transition: opacity .35s .35s, height .35s, margin .35s;
    }

    &.show { transition: 0s; }
    .title { height: 40px; line-height: 40px; }
    .left, .center, .right, .tile { height: 30px !important; }
  }

  &.ir {
    background: rgba(255,115,115, .06);

    .left, .center, .right {
      background: rgba(255,225,225, .1);
      -webkit-box-shadow: 0 0 70px rgba(255,0,0, .05) inset;
    }
    .title { color: #906A6A; }
  }

  &.bench { background: rgba(115,115,115, .15); }

  .title {
    position: absolute;
    height: 70px;
    width: 27px;
    right: 0;
    padding-left: 2px;
    color: #777;
    font-size: 11px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
  }

  .left, .center, .right {
    margin-top: 5px;
    background: rgba(255,255,255, 0.1);
    border-radius: $border-radius;
  }
}

.grid-nav {
  float: left;
  height: 24px;
  width: 590px;
  margin-left: 11px;

  li {
    float: right;
    height: 24px;
    width: 46px;
    margin-left: 10px;
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    background: rgba(0,0,0, .15);
    border-radius: $border-radius;
    opacity: 1;
    transform: translateZ(0);
    transition: opacity .25s .75s, margin .25s .5s, height .25s .5s, width .25s .5s, font-size 0s .5s;

    &.disabled {
      height: 0;
      width: 0;
      margin-left: 0;
      font-size: 0;
      opacity: 0;
      overflow: hidden;
      transition: opacity .5s, height 0s 1s, width .5s .5s, margin .5s .5s, font-size 0s .5s;
      pointer-events: none;
    }
  }
}


// Players
// --------------------------------------------------

.tile {
  position: relative;
  height: 60px;
  width: 192px;
  border-radius: $border-radius;
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0, .1) inset;
  -webkit-transform: translateZ(0);
  transition: .3s ease-out;

  .dragging &:not(.active) {
    background: rgba(255,255,255, .05);
    -webkit-box-shadow: none;
  }

  &.hover:not(.active) {
    background: rgba(255,255,255, .2);
    -webkit-box-shadow: none;
  }
}

.player {
  position: relative;
  width: 192px;
  border-radius: $border-radius;
  opacity: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0, .25);
  -webkit-transform: translateZ(0);
  transition: opacity .25s, height 0s .25s, color .25s;
  transition-timing-function: ease-out;

  &.active {
    height: 60px;
    background: #6D6D6D;
    opacity: 1;
    transition: opacity .3s, height 0s, color .3s;

    .ir &, .bench & {
      height: 30px;
      opacity: .75;
      -webkit-box-shadow: none;
    }

    .inner { opacity: 1; }
  }

  &.hover, &.clicked {
    //cursor: grab;
    .inner { -webkit-box-shadow: 0 0 2px 0 transparent; }
    .handle { opacity: .25; }
    .bg { opacity: .85; }
    .logo { opacity: .05; }
  }

  &.clicked {
    opacity: .75;
    //cursor: grabbing;
  }

  img {
    float: left;
    height: 48px;
    width: 48px;
    margin: 6px 7px 6px 6px;
    background: linear-gradient(to bottom, rgba(206,206,206, .4) 0%, rgba(136,136,136, .8) 100%);
    border-radius: $border-radius;
    overflow: hidden;
  }

  div {
    pointer-events: none;
    transition: .25s;
  }

  .inner {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 60px;
    width: 192px;
    opacity: 0;
    -webkit-box-shadow: 0 0 7px rgba(255,255,255, .25) inset;
    transition: opacity .35s;
  }

  .info {
    float: left;
    height: 60px;
    width: 115px;
    color: #484848;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 25px;

    .ir &, .bench & {
      height: 30px;
      width: 174px;
    }
  }

  .name {
    float: left;
    width: 95px;
    height: 26px;
    margin-top: 4px;
    padding-left: 2px;
    color: #222;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .ir &, .bench & {
      height: 30px;
      width: 80px;
      margin-top: 0;
      margin-left: 24px;
      font-size: 11px;
      line-height: 30px;
    }
  }

  .jersey {
    float: right;
    width: 15px;
    height: 26px;
    margin-top: 4px;
    margin-right: 5px;
    color: #676767;
    text-align: center;

    .ir &, .bench & {
      position: absolute;
      left: 6px;
      height: 30px;
      margin: 0;
      font-size: 11px;
      line-height: 30px;
    }
  }

  .salary, .status {
    float: left;
    width: 46px;
    padding-left: 2px;
    font-size: 10px;
    text-align: left;
    //text-shadow: 0 0 3px rgba(255,255,255, .2);
    border-top: 1px solid rgba(0,0,0, .05);

    .ir &, .bench & {
      float: right;
      width: auto;
      height: 30px;
      line-height: 30px;
      padding-top: 0;
      padding-left: 0;
      border: 0;
    }
  }

  .status {
    float: left;
    height: 20px;
    width: 66px;
    padding-left: 0;
    padding-right: 2px;
    text-align: right;

    .ir &, .bench & {
      //margin-right: -2px;
      padding-top: 8px;
      padding-right: 0;
    }
  }

  .shot {
    float: right;
    width: 15px;
    color: #676767;
    font-size: 10px;
    text-align: center;

    .ir &, .bench & { display: none; }
  }

  .tag {
    height: 13px;
    width: 13px;
    margin: 6px 1px 0 2px;
    line-height: 13px;
    opacity: .65;

    .ir &, .bench & { margin: 1px 0 0 3px; }
    .ir &:last-of-type, .bench &:last-of-type { margin-left: 4px; }
  }

  .UFA, .RFA {
    padding: 2px 5px;
    color: #CCC;
    font-size: 8px;
    background: #AE2A2A;
    border-radius: $border-radius;
  }//.RFA { color: #265C15; background: #6DA06D; } .UFA { color: #611F1F; background: #A9797A; }
  .RFA { background: #3D892D; }

  .handle {
    float: right;
    height: 60px;
    width: 16px;
    background: url($img-url + 'drag-handle-player-tile.svg');
    background-position:  4px center;
    background-repeat: no-repeat;
    background-size: 40% 70%;
    opacity: .18;

    .ir &, .bench & {
      height: 20px;
      width: 18px;
      margin-top: 6px;
      background-size: 34%;
      background-position: top center;

      .moz & { background-size: 24%; }
      .saf & {
        height: 19px;
        width: 17px;
        background-size: 26%;
      }
    }
  }

  .bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 60px;
    width: 192px;
    background: linear-gradient(to top, rgba(165,165,165, .5) 0%, rgba(255,255,255, .85) 100%);
    border-radius: $border-radius;
    opacity: 1;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    .ir &, .bench & { height: 30px; }
  }

  .logo {
    height: 60px;
    width: 192px;
    background-repeat: no-repeat;
    opacity: .04;

    &.BOS { opacity: .035; }
    &.BOS, &.BUF, &.CGY, &.EDM, &.FLA, &.TBL, &.WPG { background-position: 105% 25%; }
    &.ANA { background-position: 105% 45%; background-size: 75%; }
    &.ARI { background-position: 110% 35%; background-size: 65%; }
    &.CAR { background-position: 120% 45%; background-size: 65%; }
    &.CHI { background-position: 115% 50%; background-size: 63%; }
    &.COL { background-position: 105% 65%; }
    &.CLB { background-position: 105% 45%; }
    &.DAL { background-position: 200% 65%; background-size: 80%; }
    &.DET { background-position: 130% 60%; background-size: 65%; }
    &.LAK { background-position: 150% 25%; background-size: 73%; }
    &.MIN { background-position: 175% 55%; background-size: 75%; }
    &.MTL { background-position: 145% 50%; background-size: 70%; }
    &.NAS { background-position: 115% 45%; background-size: 70%; }
    &.NJD { background-position: 105% 45%; background-size: 60%; }
    &.NYI { background-position: 110% 25%; background-size: 60%; }
    &.NYR { background-position: 118% 25%; background-size: 66%; }
    &.OTT { background-position: 115% 75%; background-size: 65%; }
    &.PHI { background-position: 120% 35%; background-size: 65%; }
    &.PIT { background-position: 110% 17%; background-size: 60%; }
    &.SJS { background-position: 120% 60%; background-size: 65%; }
    &.STL { background-position: 120% 30%; background-size: 65%; }
    &.TOR { background-position: 110% 60%; background-size: 60%; }
    &.VAN { background-position: 110% 45%; background-size: 60%; }
    &.WAS { background-position: 180% 55%; background-size: 75%; }
  }
}
