// Team Select Grid
// ==================================================

#teams {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s, height 0s .5s, padding 0s .5s;
  transform: translateZ(0);

  &.active {
    height: 100%;
    width: 1020px;
    padding-left: 60px;
    padding-right: 60px;
    opacity: 1;
    overflow: visible;
    transition: opacity .5s, height 0s, padding 0s;
  }

  .inner {
    position: relative;
    width: 85%;
    max-width: 800px;
    margin: 100px auto 0;
    text-align: center;
  }

  object {
    height: 100%;
    width: 100%;
  }

  .grid {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    div {
      float: left;
      height: 20%;
      width: 16.66%;
      background: radial-gradient(rgba(255,255,255, .1) 0%, rgba(255,255,255, 0) 75%);
      opacity: 0;
      transition: .3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  #grid-reminder {
    position: absolute;
    top: -70px;
    right: -80px;
    height: 100px;
    width: 240px;
    background: url(../img/select-team-splash.svg) no-repeat;
    background-size: 90%;
    opacity: .2;

    &.disabled {
      display: none;
    }
  }
}
