// Variables
// ==================================================

// Fonts
// --------------------------------------------------

$font-family                   :    'Helvetica Neue', Helvetica, Arial, sans-serif;


// Colors
// --------------------------------------------------

$font-color                    :    #000;
$alt-color                     :    #999;


// Dimensions
// --------------------------------------------------

$header-height                 :    60px;
$page-spacing                  :    20px;
$page-width                    :    1020px;
$content-width                 :    $page-width - ($page-spacing * 3);
$tile-height                   :    55px;
$border-radius                 :    3px;
$share-height                  :    150px;
$trades-height                 :    220px;
$freeagents-height             :    220px;
$createplayer-height           :    220px;
$transactions-menu-height      :    26px;


// Animation
// --------------------------------------------------

$hover-duration                :    .3s;
