// Variables
// ==================================================

// Fonts
// --------------------------------------------------

$font-family                   :    Helvetica, Arial, sans-serif;


// Colors
// --------------------------------------------------

$default-color                 :    #000;
$alt-color                     :    #999;


// Dimensions
// --------------------------------------------------

$header-height                 :    80px;
$page-width                    :    1000px;
$content-width                 :    960px;
$min-height                    :    560px;


// Animation
// --------------------------------------------------

$default-timer                 :    .4s;
