#actions {
  margin-bottom: 0;
  transform: translateZ(0);

  &.loading { background: #000; }

  > .inner {
    height: auto;
    min-height: initial;
    max-height: initial;
    width: inherit;
    background: rgba(255,255,255, .05);
    transition: .4s;

    &.trades-active {
      height: $trades-height + $actions-menu-height;
      &.trade-size-3 { height: $trades-height-3-player + $actions-menu-height; }
      &.trade-size-4 { height: $trades-height-4-player + $actions-menu-height; }
      &.trade-size-5 { height: $trades-height-5-player + $actions-menu-height; }
    }

    &.freeagents-active { height: $actions-height; }
    &.createplayer-active { height: $actions-height; }
  }

  p { cursor: default; }

  .add-button {
    float: left;
    height: 26px;
    width: 35px;
    color: #555;
    font-size: 14px;
    line-height: 26px;
    text-shadow: 0 0 2px rgba(0,0,0, .25);
    opacity: .5;

    &:hover { cursor: default; }

    &.active {
      color: #777;
      text-shadow: 0 0 2px rgba(0,0,0, .85);
      opacity: .8;

      &:hover {
        color: #999;
        text-shadow: 0 0 4px rgba(0,0,0, .95);
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

#actions, #overview {

  input, select {
    float: left;
    height: 26px;
    margin-bottom: 15px;
    padding: 0 3px 0 10px;
    color: #212121;
    font-size: inherit;
    font-weight: inherit;
    line-height: 24px;
    background: #888;
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    transition: .35s;

    &::placeholder { color: #616161; }
    &:focus { background: #AAA; }
    &:hover {
      color: #111;
      background: #999;
    }

    &.active {
      color: #111;
      background: #777;
    }

    &.disabled, &.disabled:hover {
      color: #555;
      background: #777;
    }

    &.missing {
      color: #000;
      background: #AAA;
      box-shadow: 0 0 10px rgba(255,255,255, .5);
      transition: .1s;
    }
  }

  .moz & select, .windows & select { padding-left: 5px; }
  .moz & select, .moz & input { border-radius: initial; }

  button {
    position: inherit;
    bottom: -22px;
    height: 30px;
    width: 160px;
    margin: 0 auto;
    color: rgba(255,255,255, .35);
    font-size: inherit;
    font-weight: inherit;
    line-height: 24px;
    text-shadow: none;
    background: linear-gradient(to top, #272727 0%, #595959);
    border: none;
    border-radius: $border-radius;
    cursor: default;
    transition: .35s;

    &.enabled:hover, &.enabled:focus {
      color: rgba(255,255,255, .5);
      text-shadow: 0 1px 1px rgba(0,0,0, .3);
      background: linear-gradient(to top, #444 0%, #666);
      box-shadow: 0 3px 2px rgba(0,0,0, .35), 0 0 1px rgba(255,255,255, .15) inset;
      cursor: pointer;
    }

    &:active {
      color: rgba(255,255,255, .3);
      box-shadow: 0 0 2px rgba(0,0,0, .4), 0 0 1px rgba(255,255,255, .2) inset;
      opacity: .85;
      transition: .1s;
    }

    &.clicked { cursor: default; }
  }
}


// Menu
// --------------------------------------------------

// #actions-menu {
//   position: relative;
//   height: $actions-menu-height;
//   width: 300px;
//   margin-left: 1px;
//   transition: .3s;

//   li {
//     float: left;
//     height: $actions-menu-height;
//     width: 100px;
//     margin: 0;
//     line-height: $actions-menu-height;
//   }

//   a {
//     float: left;
//     height: inherit;
//     width: 100%;
//     color: #666;
//     font-size: 11px;
//     line-height: inherit;
//     text-align: center;
//     text-decoration: none;
//     cursor: pointer;
//     background: linear-gradient(to top, rgba(21,21,21, .68) 0%, rgba(35,35,35, .1) 100%);
//     transition: .3s;

//     &:hover {
//       color: #888;
//       text-shadow: 0 1px 2px rgba(0,0,0, .3);
//     }

//     &.active, &.active:hover {
//       color: #999;
//       text-shadow: 0 1px 2px rgba(0,0,0, .3);
//       background: linear-gradient(to bottom, rgba(255,255,255, .1) 20%, transparent 70%, transparent 100%);
//       cursor: default;
//     }
//   }

//   .loading & { opacity: .25; }
// }

.tab-area {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .4s, height 0s .4s;

  &.active {
    height: $actions-panel-height;
    opacity: 1;
    transition: opacity .4s .4s, height 0s .4s;
  }

  .inner {
    position: relative;
    height: 100%;
    max-height: none;
  }

  p {
    margin: 15px 0;
    color: #717171;
    font-size: 11px;
    transition: 0s;

    &.warning {
      transition: .3s;
      color: #999;
    }
  }
}


// Trades
// --------------------------------------------------

@keyframes add_trade_item {
  0% { height: 0; opacity: 0; }
  25% { height: $trade-player-item-height / 2; opacity: 0; }
  50% { height: $trade-player-item-height; opacity: 0; }
  75% { height: $trade-player-item-height; opacity: .5; }
  100% { height: $trade-player-item-height; opacity: 1; }
}

#trades {

  &.tab-area.active { height: 100%; }

  button { width: 125px; }

  .list-placeholder li {
    height: 20px;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255, .3);
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    background: none;
    opacity: 1;
    overflow: visible;
    transition: .4s;
    position: absolute;
    top: 50%;

    div {
      position: relative;
      top: -50%;
    }
  }
}

#trade-drop-area {
  position: relative;
  height: 40px;
  width: 270px;
  margin: 0 auto 15px;
  color: rgba(255,255,255, .15);
  line-height: 37px;
  border: 1px dashed rgba(255,255,255, .1);
  border-radius: $border-radius;
  background: rgba(0,0,0, .15);
  cursor: default;
  transition: .35s;

  &.hover {
    color: rgba(255,255,255, .35);
    text-shadow: 0 3px 7px rgba(0,0,0, .35);
    background: rgba(23,24,25, .5);
    box-shadow: 0 5px 40px 0 rgba(0,0,0, .5) inset;
  }
}

#trade-team-select {
  width: 70px;
  margin-bottom: 15px;
  margin-left: 15px;
}

#trade-player-select {
  width: 155px;
  margin-bottom: 15px;
  margin-left: 10px;
}

#trade-breakdown {
  position: relative;
  float: left;
  height: $trade-breakdown-height;
  width: 270px;
  margin-left: 15px;
  transition: .3s;

  .trade-size-3 & {
    height: $trade-breakdown-height + $trade-player-item;
    > ul { height: $trade-breakdown-height + $trade-player-item; }
  }

  .trade-size-4 & {
    height: $trade-breakdown-height + ($trade-player-item * 2);
    > ul { height: $trade-breakdown-height + ($trade-player-item * 2); }
  }

  .trade-size-5 & {
    height: $trade-breakdown-height + ($trade-player-item * 3);
    > ul { height: $trade-breakdown-height + ($trade-player-item * 3); }
  }

  > ul {
    float: left;
    height: $trade-breakdown-height;
    width: 120px;
    padding: 4px;
    color: rgba(255,255,255, .05);
    background: rgba(255,255,255, .03);
    border: 1px dashed rgba(255,255,255, .1);
    border-radius: $border-radius;
    box-shadow: 0 0 30px rgba(255,255,255, .03) inset;
    overflow: hidden;
    cursor: default;
    transition: .25s;

    &:first-of-type { margin-right: 30px; }

    &.active {
      background: rgba(255,255,255, .07);
      border-color: transparent;
      box-shadow: 0 0 30px rgba(255,255,255, .03) inset;
    }

    li {
      float: left;
      height: 0;
      width: 110px;
      margin-bottom: 0;
      padding: 0;
      text-align: left;
      font-size: 0;
      background: linear-gradient(to right, #222 0%, #111 100%);
      border-radius: $border-radius;
      opacity: 0;
      overflow: hidden;
      transition: opacity .3s, height .4s;

      &.active {
        height: $trade-player-item-height;
        margin-bottom: $trade-player-item-margin;
        padding: 5px 5px 5px 8px;
        color: #888;
        font-size: 10px;
        text-shadow: 0 1px 2px rgba(0,0,0, .3);
        opacity: 1;
        transition: opacity .45s, height .4s;

        a {
          height: 14px;
          width: 14px;
          font-size: 9px;
          line-height: 14px;
          opacity: 1;
          transition: all 0s;
        }
      }

      &.add-item { animation: add_trade_item .4s ease-out; }
      &:last-of-type { margin-bottom: 0; }

      > span {
        float: left;
        height: 14px;
        line-height: 14px;

        &.lastname {
          width: 70px;
          padding-left: 2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      a {
        float: right;
        height: 0;
        width: 0;
        margin-bottom: 0;
        padding: 1px 0 0;
        color: rgba(255,255,255, .3);
        font-size: 0;
        line-height: 0;
        text-align: center;
        opacity: 0;
        overflow: hidden;
        transition: all 0s;

        &:hover {
          color: rgba(255,255,255, .5);
          cursor: pointer;
        }
      }

      .year {
        margin-left: 3px;
        color: #555;
      }
    }
  }
}

#user-picks {
  position: absolute;
  z-index: 2;
  bottom: 52px;
  left: 10px;
  width: 180px;
  overflow-x: hidden;
}

.user-picks-button {
  float: left;
  height: 23px;
  margin-top: 25px;
  padding: 0 6px;
  color: #333;
  line-height: 28px;
  background-color: #888;
  border-radius: 5px;
  cursor: default;

  &:hover {
    color: #111;
    background: #999;
  }

  i {
    font-size: 14px;
    cursor: default;
  }
}

#user-picks-list {
  height: 0;
  width: 180px;
  padding-bottom: 0;
  background: #151515;
  border-radius: $border-radius;
  box-shadow: 1px 0 10px rgba(0,0,0, .5);
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
  transform: translateZ(0);
  transition: opacity .25s, height 0s .25s;

  .moz & {
    width: 197px;
    padding-right: 16px;
  }

  &.active {
    height: 220px;
    padding-bottom: 15px;
    opacity: 1;
    transition: opacity .25s, height 0s, padding 0s;
  }

  li {
    float: left;
    height: 20px;
    width: 171px;
    margin-bottom: 2px;
    margin-left: 4px;
    padding-left: 5px;
    color: #888;
    font-size: 10px;
    text-align: left;
    line-height: 20px;
    background-color: rgba(255,255,255, .08);
    border-radius: $border-radius;
    cursor: pointer;
    transition: .25s;

    &:hover {
      color: #EEE;
      background-color: rgba(255,255,255, .15);
    }
  }

  .picks-title {
    height: 14px;
    margin: 5px 0 15px 12px;
    padding: 5px 0;
    color: #555;
    font-size: 12px;
    line-height: 14px;
    background: none;

    &:hover {
      color: #555;
      background: none;
    }
  }

  .disabled, .disabled:hover, .inplay, .inplay:hover {
    color: #424242;
    background: none;
    cursor: default;
  }

  .inplay, .inplay:hover { background-color: rgba(255,255,255, .04); }

  i {
    float: right;
    margin: 5px 6px 0 0;
    font-size: 11px;
  }
}

.trade-marker {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 30px;
  width: 30px;
  margin: auto;
  color: #616161;
  font-size: 16px;
  line-height: 30px;
  transition: .3s;

  &.active {
    color: #919191;
    text-shadow: 0 0 5px rgba(0,0,0, .25);
  }
}

#actions-drag-cover,
#actions-disabled-cover,
#overview-disabled-cover {
  position: absolute;
  z-index: 4;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%;
  width: 100%;
}

#actions-drag-cover {
  display: none;

  &.active { display: block; }
}

#actions-disabled-cover,
#overview-disabled-cover {
  display: flex;
  position: fixed;
  top: 33px;
  height: 0;
  margin: 0;
  padding: 0;
  background: rgba(15,16,18, .9) linear-gradient(to bottom, rgba(255,255,255, .1) 20%, transparent 70%, transparent 100%);
  overflow: hidden;
  opacity: 0;

  &:hover {

    p { color: rgba(255,255,255, .1); }

    .info-bubble {
      top: 22px;
      height: initial;
      padding: 10px;
      opacity: 1;
      transition: top .25s, opaicty .25s, height 0s, padding 0s;
    }
  }

  &.active {
    height: auto;
    opacity: 1;
    transition: opacity .25s, height 0s;
  }

  p {
    width: 100%;
    height: auto;
    margin: 0;
    color: rgba(255,255,255, .25);
    font-size: 17px;
    font-weight: 500;
    align-self: center;
    transition: .25s;
    cursor: default;

    > i {
      position: relative;
      top: 1px;
      right: -10px;
    }

    a {
      display: inline-block;
      margin-top: 12px;
      padding: 3px 0;
      color: #525252;
      font-size: 11px;
      border-bottom: 1px dotted #353535;

      &:hover {
        color: #888;
        border-bottom: 1px dotted #444;
      }
    }
  }

  .info-bubble {
    position: absolute;
    top: -30px; right: 0; left: 0;
    display: block;
    height: 0;
    width: 282px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    color: #777;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    background: rgba(0,0,0, .35);
    border-radius: $border-radius;
    opacity: 0;
    overflow: hidden;
    cursor: default;
    transition: top .25s, opaicty .25s, height 0s .25s, padding 0s .25s;
  }
}

#overview-disabled-cover {
  top: 34px;

  &:hover .info-bubble { top: -10px; }
}


// Free Agents
// --------------------------------------------------

#freeagents .inner {
  background: url($img-url + 'coming-soon-splash.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center 48%;
  opacity: .2;
}


// Create Player
// --------------------------------------------------

#create-player-fname, #create-player-lname {
  width: 130px;
  margin-left: 15px;
}

#create-player-lname, #create-player-jersey, #create-player-position, #create-player-duration {
  margin-left: 10px;
}

#create-player-jersey {
  width: 70px;
}

#create-player-shot {
  width: 90px;
  margin-left: 15px;
}

#create-player-position {
  width: 90px;
}

#create-player-salary {
  width: 130px;
  margin-bottom: 0 !important;
  margin-left: 30px;
}

#create-player-duration {
  width: 95px;
  margin-bottom: 0 !important;
}

.transaction-confirm {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 0;
  width: 300px;
  color: rgba(255,255,255, .2);
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 5px 35px rgba(0,0,0, .6);
  background: rgba(23,24,25, .92);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: 0 0 100px 0 rgba(0,0,0, .5) inset;
  opacity: 0;
  overflow: hidden;
  cursor: default;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: opacity .3s, height 0s .3s;

  &.active {
    z-index: 3;
    height: 100%;
    opacity: 1;
    transition: opacity .4s, height 0s, color .4s, box-shadow .4s;
  }

  > span {
    position: relative;
    left: -4px;
  }

  i {
    position: relative;
    top: -2px;
    right: -14px;
    font-size: 30px;

    #trades & {
      top: 2px;
      right: -8px;
    }
  }
}
