#actions {
  margin-bottom: 0;
  background: rgb(23,24,25);
  transform: translateZ(0);

  &.loading { background: #000; }

  > .inner {
    height: auto;
    min-height: initial;
    max-height: initial;
    width: inherit;
    background: rgba(255,255,255, .05);
    transition: .4s;

    &.trades-active {
      height: $trades-height + $actions-menu-height;
      &.trade-size-3 { height: $trades-height-3-player + $actions-menu-height; }
      &.trade-size-4 { height: $trades-height-4-player + $actions-menu-height; }
      &.trade-size-5 { height: $trades-height-5-player + $actions-menu-height; }
    }

    &.freeagents-active { height: $actions-height; }
    &.createplayer-active { height: $actions-height; }
  }

  .add-button {
    float: left;
    height: 26px;
    width: 35px;
    color: #555;
    font-size: 14px;
    line-height: 26px;
    text-shadow: 0 0 2px rgba(0,0,0, .25);
    opacity: .5;

    &:hover { cursor: default; }

    &.active {
      color: #777;
      text-shadow: 0 0 2px rgba(0,0,0, .85);
      opacity: .8;

      &:hover {
        color: #999;
        text-shadow: 0 0 4px rgba(0,0,0, .95);
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

#actions {

  input, select {
    float: left;
    height: 26px;
    margin-bottom: 15px;
    padding: 0 3px 0 10px;
    color: #666;
    font-size: inherit;
    font-weight: inherit;
    line-height: 24px;
    background: #3D3D3D;
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    transition: .35s;

    &::placeholder { color: #616161; }
    &.active, &:hover, &:focus {
      color: #222;
      background: #555;
      box-shadow: 0 0 5px 0 rgba(0,0,0, .2);

      &::placeholder { color: #222; }
    }

    &.disabled, &.disabled:hover {
      color: #515151;
      background: #323232;
    }

    &.missing {
      color: #111;
      background: #999;
      box-shadow: 0 0 5px rgba(255,255,255, .3);
      transition: .15s;
    }
  }

  .moz & select, .windows & select { padding-left: 5px; }
  .moz & select, .moz & input { border-radius: initial; }

  button {
    position: inherit;
    bottom: -22px;
    height: 30px;
    width: 160px;
    margin: 0 auto;

    color: rgba(160,160,160, .5);
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 0 1px rgba(0,0,0, .15);
    background: linear-gradient(to top, #383838 0%, #484848);
    box-shadow: 0 0 10px 0 rgba(0,0,0, .25);

    // color: rgba(255,255,255, .35);
    // font-size: inherit;
    // font-weight: inherit;
    // line-height: 24px;
    // text-shadow: none;
    // background: linear-gradient(to top, #272727 0%, #595959);
    border: none;
    border-radius: $alt-border-radius;
    cursor: default;
    transition: .35s;

    &.enabled:hover, &.enabled:focus {
      color: rgba(255,255,255, .5);
      // text-shadow: 0 1px 1px rgba(0,0,0, .3);
      text-shadow: 0 0 1px rgba(0,0,0, .5);
      background: linear-gradient(to top, #444 0%, #666);
      box-shadow: 0 3px 2px rgba(0,0,0, .35), 0 0 1px rgba(255,255,255, .15) inset;
      cursor: pointer;
    }

    &:active {
      color: rgba(255,255,255, .3);
      box-shadow: 0 0 2px rgba(0,0,0, .4), 0 0 1px rgba(255,255,255, .2) inset;
      opacity: .85;
      transition: .1s;
    }

    &.clicked { cursor: default; }
  }
}

.tab-area {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .4s, height 0s .4s;

  &.active {
    height: $actions-panel-height;
    opacity: 1;
    transition: opacity .4s .4s, height 0s .4s;
  }

  .inner {
    position: relative;
    height: 100%;
    max-height: none;
  }

  p {
    margin: 15px 0;
    color: #797979;
    font-size: 11px;
    text-shadow: 0 0 6px rgba(0,0,0, .2);
    cursor: default;
    transition: 0s;

    &.warning {
      transition: .3s;
      color: #999;
    }
  }
}

#actions-drag-cover,
#actions-disabled-cover,
#overview-disabled-cover {
  position: absolute;
  z-index: 4;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%;
  width: 100%;
}

#actions-drag-cover {
  display: none;

  &.active { display: block; }
}

#actions-disabled-cover,
#overview-disabled-cover {
  display: flex;
  position: fixed;
  top: 33px;
  height: 0;
  margin: 0;
  padding: 0;
  background: rgba(15,16,18, .9) linear-gradient(to bottom, rgba(255,255,255, .1) 20%, transparent 70%, transparent 100%);
  overflow: hidden;
  opacity: 0;

  &:hover {

    p { color: rgba(255,255,255, .1); }

    .info-bubble {
      top: 22px;
      height: initial;
      padding: 10px;
      opacity: 1;
      transition: top .25s, opaicty .25s, height 0s, padding 0s;
    }
  }

  &.active {
    height: auto;
    opacity: 1;
    transition: opacity .25s, height 0s;
  }

  p {
    width: 100%;
    height: auto;
    margin: 0;
    color: rgba(255,255,255, .25);
    font-size: 17px;
    font-weight: 500;
    align-self: center;
    transition: .25s;
    cursor: default;

    > i {
      position: relative;
      top: 1px;
      right: -10px;
    }

    a {
      display: inline-block;
      margin-top: 12px;
      padding: 3px 0;
      color: #525252;
      font-size: 11px;
      border-bottom: 1px dotted #353535;

      &:hover {
        color: #888;
        border-bottom: 1px dotted #444;
      }
    }
  }

  .info-bubble {
    position: absolute;
    top: -30px; right: 0; left: 0;
    display: block;
    height: 0;
    width: 282px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    color: #777;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    background: rgba(0,0,0, .35);
    border-radius: $border-radius;
    opacity: 0;
    overflow: hidden;
    cursor: default;
    transition: top .25s, opaicty .25s, height 0s .25s, padding 0s .25s;
  }
}

#overview-disabled-cover {
  top: 34px;

  &:hover .info-bubble { top: -10px; }
}


// Free Agents
// --------------------------------------------------

#freeagents .inner {
  background: url($img-url + 'coming-soon-splash.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center 48%;
  opacity: .2;
}


// Create Player
// --------------------------------------------------

#create-player-fname, #create-player-lname {
  width: 130px;
  margin-left: 15px;
}

#create-player-lname, #create-player-jersey, #create-player-position, #create-player-duration {
  margin-left: 10px;
}

#create-player-jersey {
  width: 70px;
}

#create-player-shot {
  width: 90px;
  margin-left: 15px;
}

#create-player-position {
  width: 90px;
}

#create-player-salary {
  width: 130px;
  margin-bottom: 0 !important;
  margin-left: 30px;
}

#create-player-duration {
  width: 95px;
  margin-bottom: 0 !important;
}

.transaction-confirm {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 0;
  width: 300px;
  color: rgba(255,255,255, .2);
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 5px 35px rgba(0,0,0, .6);
  background: rgba(23,24,25, .92);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: 0 0 100px 0 rgba(0,0,0, .5) inset;
  opacity: 0;
  overflow: hidden;
  cursor: default;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: opacity .3s, height 0s .3s;

  &.active {
    z-index: 3;
    height: 100%;
    opacity: 1;
    transition: opacity .4s, height 0s, color .4s, box-shadow .4s;
  }

  > span {
    position: relative;
    left: -4px;
  }

  i {
    position: relative;
    top: -2px;
    right: -14px;
    font-size: 30px;

    #trades & {
      top: 2px;
      right: -8px;
    }
  }
}
