#actions {
  margin-bottom: 0;
  transform: translateZ(0);

  &.loading { background: #000; }

  > .inner {
    height: auto;
    min-height: initial;
    max-height: initial;
    width: inherit;
    background: rgba(255,255,255, .05);
    transition: .4s;

    &.trades-active {
      height: $trades-height + $actions-menu-height;
      &.trade-size-3 { height: $trades-height-3-player + $actions-menu-height; }
      &.trade-size-4 { height: $trades-height-4-player + $actions-menu-height; }
      &.trade-size-5 { height: $trades-height-5-player + $actions-menu-height; }
    }

    &.freeagents-active { height: $actions-height; }
    &.createplayer-active { height: $actions-height; }
  }

  p { cursor: default; }

  .add-button {
    float: left;
    height: 26px;
    width: 35px;
    color: #555;
    font-size: 14px;
    line-height: 26px;
    text-shadow: 0 0 2px rgba(0,0,0, .25);
    opacity: .5;

    &.active {
      color: #777;
      text-shadow: 0 0 2px rgba(0,0,0, .85);
      opacity: .8;

      &:hover {
        color: #999;
        text-shadow: 0 0 4px rgba(0,0,0, .95);
        opacity: 1;
      }
    }
  }
}

#actions, #overview {

  input, select {
    float: left;
    height: 26px;
    margin-bottom: 15px;
    padding: 0 3px 0 10px;
    color: #212121;
    font-size: inherit;
    font-weight: inherit;
    line-height: 24px;
    background: #888;
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    transition: .35s;

    &::placeholder { color: #616161; }
    &:focus { background: #AAA; }
    &:hover {
      color: #111;
      background: #999;
    }

    &.active {
      color: #111;
      background: #777;
    }

    &.disabled, &.disabled:hover {
      color: #555;
      background: #777;
    }

    &.missing {
      color: #000;
      background: #AAA;
      box-shadow: 0 0 10px rgba(255,255,255, .5);
      transition: .1s;
    }
  }

  button {
    position: inherit;
    bottom: -22px;
    height: 30px;
    width: 160px;
    margin: 0 auto;
    color: rgba(255,255,255, .35);
    font-size: inherit;
    font-weight: inherit;
    line-height: 24px;
    text-shadow: none;
    background: linear-gradient(to top, #272727 0%, #595959);
    border: none;
    border-radius: $border-radius;
    transition: .35s;

    &:hover {
      color: rgba(255,255,255, .5);
      text-shadow: 0 1px 1px rgba(0,0,0, .3);
      background: linear-gradient(to top, #333 0%, #666);
      box-shadow: 0 3px 5px rgba(0,0,0, .35), 0 0 1px rgba(255,255,255, .15) inset;
    }

    &:active {
      color: rgba(255,255,255, .3);
      box-shadow: 0 0 2px rgba(0,0,0, .4), 0 0 1px rgba(255,255,255, .2) inset;
      opacity: .85;
      transition: .1s;
    }

    &.clicked { cursor: default; }
  }
}


// Menu
// --------------------------------------------------

#actions-menu {
  position: relative;
  height: $actions-menu-height;
  width: 300px;
  margin-left: 1px;
  transition: .3s;

  li {
    float: left;
    height: $actions-menu-height;
    width: 100px;
    margin: 0;
    line-height: $actions-menu-height;
  }

  a {
    float: left;
    height: inherit;
    width: 100%;
    color: #666;
    font-size: 11px;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(to top, rgba(21,21,21, .68) 0%, rgba(35,35,35, .1) 100%);
    transition: .3s;

    &:hover {
      color: #888;
      text-shadow: 0 1px 2px rgba(0,0,0, .3);
    }

    &.active, &.active:hover {
      color: #999;
      text-shadow: 0 1px 2px rgba(0,0,0, .3);
      background: linear-gradient(to bottom, rgba(255,255,255, .1) 20%, transparent 70%, transparent 100%);
      cursor: default;
    }
  }

  .loading & { opacity: .25; }
}


// Content
// --------------------------------------------------

.tab-area {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .4s, height 0s .4s;

  &.active {
    height: $actions-panel-height;
    opacity: 1;
    transition: opacity .4s .4s, height 0s .4s;
  }

  .inner {
    position: relative;
    height: 100%;
    max-height: none;
  }

  p {
    margin: 15px 0;
    color: #717171;
    font-size: 11px;
    transition: 0s;

    &.warning {
      transition: .3s;
      color: #999;
    }
  }
}


// Trades
// --------------------------------------------------

#trades {

  &.tab-area.active { height: 100%; }
  button { width: 125px; }

  ul {
    float: left;
    height: $trade-breakdown-height;
    width: 120px;
    padding: 4px;
    color: rgba(255,255,255, .05);
    background: rgba(255,255,255, .03);
    border: 1px dashed rgba(255,255,255, .1);
    border-radius: $border-radius;
    box-shadow: 0 0 30px rgba(255,255,255, .03) inset;
    overflow: hidden;
    cursor: default;
    transition: .4s;

    &:first-of-type { margin-right: 30px; }

    &.active {
      background: rgba(255,255,255, .07);
      border-color: transparent;
      box-shadow: 0 0 30px rgba(255,255,255, .03) inset;
    }
  }

  li {
    float: left;
    height: 0;
    width: 110px;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    font-size: 0;
    background: linear-gradient(to right, #222 0%, #111 100%);
    border-radius: $border-radius;
    opacity: 0;
    overflow: hidden;
    transition: opacity .2s, height .3s;

    &.active {
      height: $trade-player-item-height;
      margin-bottom: $trade-player-item-margin;
      padding: 5px 5px 5px 8px;
      color: #888;
      font-size: 10px;
      text-shadow: 0 1px 2px rgba(0,0,0, .3);
      opacity: 1;
      transition: opacity .35s, height .25s;

      a {
        height: 14px;
        width: 14px;
        font-size: 9px;
        line-height: 14px;
        opacity: 1;
        transition: all 0s;
      }
    }

    &:last-of-type { margin-bottom: 0; }

    > span {
      float: left;
      height: 14px;
      line-height: 14px;

      &.lastname {
        width: 70px;
        padding-left: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    a {
      float: right;
      height: 0;
      width: 0;
      margin-bottom: 0;
      padding: 0;
      color: rgba(255,255,255, .3);
      font-size: 0;
      line-height: 0;
      text-align: center;
      opacity: 0;
      overflow: hidden;
      transition: all 0s;

      &:hover {
        color: rgba(255,255,255, .5);
        cursor: pointer;
      }
    }
  }

  .list-placeholder li {
    height: 20px;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255, .3);
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    background: none;
    opacity: 1;
    overflow: visible;
    transition: .4s;
    position: absolute;
    top: 50%;

    div {
      position: relative;
      top: -50%;
    }
  }

  .transaction-confirm { line-height: 240px; }
}

#trade-drop-area {
  position: relative;
  height: 40px;
  width: 270px;
  margin: 0 auto 15px;
  color: rgba(255,255,255, .15);
  line-height: 37px;
  border: 1px dashed rgba(255,255,255, .1);
  border-radius: $border-radius;
  background: rgba(0,0,0, .15);
  cursor: default;
  transition: .35s;

  &.hover {
    color: rgba(255,255,255, .35);
    text-shadow: 0 3px 7px rgba(0,0,0, .35);
    background: rgba(23,24,25, .5);
    box-shadow: 0 5px 40px 0 rgba(0,0,0, .5) inset;
  }
}

#trade-team-select {
  width: 70px;
  margin-bottom: 15px;
  margin-left: 15px;
}

#trade-player-select {
  width: 155px;
  margin-bottom: 15px;
  margin-left: 10px;
}

#trade-player-breakdown {
  position: relative;
  float: left;
  height: $trade-breakdown-height;
  width: 270px;
  margin-left: 15px;
  transition: .4s;

  .trade-size-3 & {
    height: $trade-breakdown-height + $trade-player-item;
    ul { height: $trade-breakdown-height + $trade-player-item; }
  }

  .trade-size-4 & {
    height: $trade-breakdown-height + ($trade-player-item * 2);
    ul { height: $trade-breakdown-height + ($trade-player-item * 2); }
  }

  .trade-size-5 & {
    height: $trade-breakdown-height + ($trade-player-item * 3);
    ul { height: $trade-breakdown-height + ($trade-player-item * 3); }
  }
}

.trade-marker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  margin: auto;
  color: #616161;
  font-size: 16px;
  line-height: 30px;
  transition: .3s;

  &.active {
    color: #919191;
    text-shadow: 0 0 5px rgba(0,0,0, .25);
  }
}

#actions-drag-cover,
#actions-disabled-cover {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#actions-drag-cover {
  display: none;
  &.active { display: block; }
}

#actions-disabled-cover {
  height: 0;
  padding: 0;
  color: #777;
  font-weight: bold;
  text-align: center;
  background: rgba(15,15,15, .85);
  overflow: hidden;
  opacity: 0;
  transition: opacity .25s, height 0s .25s;

  &.active {
    height: $trades-height + $actions-menu-height + $panel-titlebar-height + 1;
    opacity: 1;
    transition: opacity .25s, height 0s;
  }

  p {
    padding: 0 20px;
    &:first-of-type { padding-top: 75px; }
  }
}


// Free Agents
// --------------------------------------------------

#freeagents .inner {
  background: url($img-url + 'coming-soon-splash.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center 48%;
  opacity: .2;
}


// Create Player
// --------------------------------------------------

#create-player-fname, #create-player-lname {
  width: 130px;
  margin-left: 15px;
}

#create-player-lname, #create-player-jersey, #create-player-position, #create-player-duration {
  margin-left: 10px;
}

#create-player-jersey {
  width: 70px;
}

#create-player-shot {
  width: 90px;
  margin-left: 15px;
}

#create-player-position {
  width: 90px;
}

#create-player-salary {
  width: 130px;
  margin-bottom: 0 !important;
  margin-left: 30px;
}

#create-player-duration {
  width: 95px;
  margin-bottom: 0 !important;
}

.transaction-confirm {
  position: absolute;
  top: 0;
  height: 0;
  width: 300px;
  color: rgba(255,255,255, .2);
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 5px 35px rgba(0,0,0, .6);
  text-align: center;
  line-height: 180px;
  background: rgba(23,24,25, .92);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: 0 0 100px 0 rgba(0,0,0, .5) inset;
  opacity: 0;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: opacity .3s, height 0s .3s;

  &.active {
    z-index: 3;
    height: 100%;
    opacity: 1;
    transition: opacity .4s, height 0s, color .4s, box-shadow .4s;
  }

  i {
    position: relative;
    right: -5px;
    font-size: 18px;
  }
}
