#overview {
  height: 0;
  max-height: 225px;
  margin-bottom: 0;
  opacity: 0;
  transition: opacity .4s .35s, height .4s .75s, margin .4s .75s;

  > .inner {
    max-height: 190px;
    background: rgba(255,255,255, .025);
    overflow-y: scroll;
  }

  &.active {
    height: 95px;
    margin-bottom: 20px;
    opacity: 1;
    transition: opacity .4s .75s, height .4s .35s, margin .4s .35s;

    > .inner { height: auto; }
  }

  &.loaded { transition: height .25s; }

  .heading {
    display: block;
    height: 28px;
    line-height: 28px;
    //background: linear-gradient(to top, rgba(0,0,0, .25) 0%, transparent 100%);
    background: linear-gradient(to top, rgba(21,21,21, .68) 0%, rgba(35,35,35, .1) 100%);
  }

  .signed .heading { color: #449454; }
  .unsigned .heading { color: #944444; }
  .trades .heading, .created .heading { color: #616161; }//#446394

  .list {
    width: 298px;
    margin-left: 1px;
    overflow: hidden;
  }

  .item {
    box-shadow: 0 -1px 0 rgba(0,0,0, .2) inset;

    &:last-of-type { box-shadow: none !important; }
    .name { max-width: 180px; }

    .status {
      float: left;
      width: 35px;
      margin-left: 10px;
      margin-right: 0;
      color: #525252;
    }
  }

  .button {
    float: right;
    height: 22px;
    width: 40px;
    margin: 5px 5px 0 0;
    color: #969696;
    font-size: 10px;
    line-height: 22px;
    //text-transform: uppercase;
    background: #515151;
    border-radius: $border-radius;

    &:hover {
      color: #CCC;
      text-shadow: 0 0 2px rgba(255,255,255, .2);
      background: transparent;
    }
  }

  .trade {
    height: auto;

    ul {
      position: relative;
      float: left;
      width: 36%;
      margin-left: 5%;
      padding-bottom: 8px;

      &.league { margin-left: 3%; }
    }

    li {
      height: 20px;
      line-height: 20px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.team {
        color: #575757;
        font-size: 9px;
        line-height: 20px;
      }
    }

    .button {
      position: absolute;
      top: 36%;
      right: 0;
      margin: 0 5px 0 0;
    }
  }

  .confirm-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transform: translateX(-100%);
    transition: .25s;

    &.active {
      width: inherit;
      height: inherit;
      color: #AAA;
      opacity: 1;
      background: #222 linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.04) 75%, transparent);
      transform: translateX(0);
    }
  }

  .confirm-buttons {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    color: #777;
    font-size: 13px;

    a:hover { color: #BBB; }
  }

  .waiting { color: rgba(255,255,255, .35); }
}
