// Share Roster Panel
// ==================================================

#share {
  position: inherit;
  float: left;
  width: inherit;
  margin: 30px 0;

  input, button {
    float: left;
    height: 32px;
    border-radius: $border-radius;
  }

  #roster-name {
    width: 220px;
    padding: 0 10px;
    margin-right: 10px;
    line-height: 32px;
    font-size: 15px;
    background: linear-gradient(to top, #6A6A6A 0%, #A5A5A5);
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0, .75);

    &::placeholder { color: #5A5A5A; }
    &:hover { background: linear-gradient(to top, #666 0%, #AAA); }
    &:focus { box-shadow: 0 0 15px 0 rgba(0,0,0, .95); }
  }

  button {
    width: 70px;
    color: #CACACA;
    line-height: 100%;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(to top, #272727 0%, #595959);
    border: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0, .75);

    &:hover {
      color: #EEE;
      background: linear-gradient(to top, #222 0%, #666);
      box-shadow: 0 0 10px 0 rgba(0,0,0, .95);
    }

    &.clicked { cursor: default; }
  }
}

#share-form {
  opacity: 0;
  transition: opacity .4s ease-out;

  &.active {
    height: auto;
    opacity: 1;
    transition: opacity .4s .55s ease-out;
  }
}

#share-dialog {
  position: relative;
  z-index: 3;
  top: 0;
  float: left;
  height: 0;
  margin-top: -32px;
  box-shadow: 0 0 15px 0 rgba(0,0,0, .25) inset;
  background: rgba(255,255,255, 0.125);
  border-radius: $border-radius;
  opacity: 0;
  overflow: hidden;
  transition: opacity .25s, height .5s .25s;
  transition-timing-function: ease-out;

  &.active {
    height: $share-height;
    opacity: 1;
    transition: opacity .5s .5s, height .5s;
  }
}

#share-loading {
  height: 0;
  margin: 0;
  padding-left: 10px;
  color: rgba(255,255,255, .25);
  font-size: 16px;
  font-weight: 500;
  line-height: $share-height;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  transition: opacity .35s, height 0s .35s;
  transition-timing-function: ease-out;

  &.active {
    height: $share-height;
    opacity: 1;
  }

  span {
    padding-right: 4px;
    cursor: default;
  }

  i {
    position: relative;
    top: 2px;
    left: -6px;
    font-size: 21px;
  }
}

#share-confirm {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .25s, height .5s .25s;
  transition-timing-function: ease-out;

  &.active {
    height: $share-height;
    opacity: 1;
    transition: opacity .5s .5s, height 0s .5s;
  }

  h3, p {
    padding-left: 15px;
    color: #999;
    font-size: 12px;
    text-align: left;
    cursor: default;
  }

  h3 {
    margin: 10px 0 5px;
    color: #BBB;
    font-size: 17px;
    text-shadow: 0 1px 2px rgba(0,0,0, .4);
  }

  p { margin: 0 0 15px; }

  #share-close {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 13px;
    color: rgba(255,255,255, .15);

    &:hover {
      color: rgba(255,255,255, .35);
      text-shadow: 0 0 5px rgba(0,0,0, .35);
    }
  }

  #text-roster {
    position: absolute;
    right: 15px;
    bottom: 0;
    height: 25px;
    width: 105px;
    padding-right: 5px;
    color: rgba(255,255,255, .3);
    font-size: 10px;
    font-weight: 600;
    text-align: right;
    line-height: 25px;
    cursor: pointer;

    &:hover {
      color: rgba(255,255,255, .5);
      text-shadow: 0 0 5px rgba(0,0,0, .4);
    }

    i {
      position: relative;
      left: -5px;
    }
  }

  a#share-link {
    position: absolute;
    top: 65px;
    left: 15px;
    height: 32px;
    width: 30px;
    color: #999;
    line-height: 32px;
    text-align: center;

    &:hover {
      color: #111;
      text-shadow: 0 0 5px rgba(255,255,255, .2);
    }
  }

  input {
    width: 270px;
    margin: 0 0 10px 15px;
    padding-right: 10px;
    padding-left: 30px;
    color: #363636;
    font-size: 14px;
    font-weight: bold;
    background: rgba(238,238,238, 0.2) linear-gradient(to top, rgba(136, 136, 136, 0) 100%, rgba(204, 204, 204, 0.1) 0%);
    border: 0;
    box-shadow: 0 0 10px 0 rgba(255,255,255, 0.15), 0 0 1px rgba(0,0,0, .1) inset;

    &:hover {
      text-shadow: 0 0 5px rgba(255,255,255, .2);
      background: rgba(255,255,255, .15);
      box-shadow: 0 0 6px 0 rgba(255,255,255, .18), 0 0 1px rgba(0,0,0, .1) inset;
      color: #111;
    }
  }

  button {
    height: 32px;
    width: 135px;
    margin-left: 10px;
    padding: 0;
    color: #EEE;
    font-size: 11px;
    line-height: 30px;
    text-align: left;
    text-shadow: 0 0 2px rgba(0,0,0, .35);
    border: 1px solid #9A9A9A;
    background: #AAA;

    &:first-of-type {
      width: 125px;
      margin-left: 15px;

      i { font-size: 15px; }
    }

    &:hover { background: #9A9A9A; }

    &#twitter-share, &#facebook-share {
      border: 0;
      padding-left: 4px;
      color: rgba(255,255,255, .75);
      text-shadow: 0 1px 1px rgba(51,86,148, .75);
      box-shadow: 0 0 10px rgba(255,255,255, .2), 0 0 1px rgba(0,0,0, .15) inset;

      &:hover {
        border: 0;
        padding-left: 4px;
        color: rgba(255,255,255, .95);
        text-shadow: 0 1px 1px rgba(51,86,148, .95);
        box-shadow: 0 0 5px rgba(255,255,255, .25), 0 2px 8px rgba(255,255,255, .15) inset;

        i { text-shadow: 0 1px 1px rgba(51,86,148, .95); }
      }

      &:active {
        color: rgba(255,255,255, .5);
        text-shadow: 0 1px 1px rgba(51,86,148, .25);
        box-shadow: 0 0 10px rgba(255,255,255, .15), 0 0 1px rgba(0,0,0, .15) inset;

        i {
          color: rgba(255,255,255, .5);
          text-shadow: 0 1px 1px rgba(51,86,148, .25);
        }
      }
    }

    &#twitter-share {
      background: linear-gradient(to top, #335694 0%, #06a5e0 100%);

      i { position: relative; top: 1px; }
    }

    &#facebook-share { background: linear-gradient(to top, #335694 0%, #528bc6 100%); }

    i {
      color: #FFF;
      font-size: 14px;
      padding: 0 3px 0 6px;
      transition: .4s;
      transition-timing-function: ease-out;
    }
  }
}
