// Transactions Panel
// ==================================================

#transactions {
  transform: translateZ(0);

  #transactions-menu {
    height: $transactions-menu-height;
    width: 300px;
    margin-left: 1px;

    li {
      float: left;
      height: $transactions-menu-height;
      width: 100px;
      margin: 0;
      line-height: $transactions-menu-height;

      a {
        float: left;
        height: inherit;
        width: 100%;
        color: #444;
        font-size: 11px;
        line-height: inherit;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background: linear-gradient(to top, rgba(21,21,21, .68) 0%, rgba(35,35,35, .1) 100%);
        transition: .3s;

        &:hover {
          color: #777;
          text-shadow: 0 1px 2px rgba(0,0,0, .3);
        }

        &.active, &.active:hover {
          color: #888;
          text-shadow: 0 1px 2px rgba(0,0,0, .3);
          background: linear-gradient(to bottom, rgba(255,255,255, .1) 20%, transparent 70%, transparent 100%);
          cursor: default;
        }
      }
    }
  }

  &.panel > .inner {
    height: auto;
    min-height: initial;
    max-height: initial;
    width: 300px;
    background: rgba(255,255,255, .05);
    transform: translateZ(0);
    transition: .4s;

    &.inactive {

      #transactions-menu, #createplayer, #trades, #freeagents {
        display: none;
      }

      .team-select-reminder {
        display: block;
        height: $trades-height + $transactions-menu-height;
        line-height: $trades-height + $transactions-menu-height;
      }
    }

    &.trades-active {
      height: $trades-height + $transactions-menu-height;

      &.three-player-trade {
        height: $trades-height-3-player + $transactions-menu-height;
      }

      &.four-player-trade {
        height: $trades-height-4-player + $transactions-menu-height;
      }

      &.five-player-trade {
        height: $trades-height-5-player + $transactions-menu-height;
      }
    }

    &.freeagents-active {
      height: $transactions-height;
    }

    &.createplayer-active {
      height: $transactions-height;
    }
  }

  .tab-area {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateZ(0);
    transition: opacity .4s, height 0s .4s;

    &.active {
      height: $transactions-panel-height;
      opacity: 1;
      transition: opacity .4s .4s, height 0s .4s;
    }

    .inner {
      position: relative;
      height: 100%;
      max-height: none;
      transform: translateZ(0);

      p {
        margin: 15px 0;
        color: #565656;
        font-size: 11px;
        transition: .3s;

        &.warning {
          color: #999;
        }
      }
    }
  }

  input, select {
    float: left;
    height: 26px;
    width: 100px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: #212121;
    line-height: 24px;
    background: #888;
    border: 0;
    border-radius: 5px;
    transition: .35s;

    &::placeholder {
      color: #616161;
    }

    &:hover {
      color: #111;
      background: #999;
    }

    &:focus {
      background: #AAA;
    }

    &.active {
      color: #111;
      background: #777;
    }
    &.disabled, &.disabled:hover {
      color: #555;
      background: #777;
    }

    &.missing {
      color: #000;
      background: #AAA;
      box-shadow: 0 0 10px rgba(255,255,255, .5);

      /* &::placeholder {
        color: #EEE;
      } */
    }
  }

  input {
    padding: 0 3px 0 10px;
  }

  select {
    width: 90px;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: none;
  }

  button {
    position: relative;
    bottom: -22px;
    display: block;
    height: 30px;
    opacity: 1;
    width: 160px;
    margin: 0 auto;
    color: rgba(255,255,255, .35);
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-shadow: none;
    background: linear-gradient(to top, #272727 0%, #595959);
    border: none;
    border-radius: $border-radius;
    box-shadow: 0 0 4px rgba(0,0,0, .35), 0 0 2px rgba(255,255,255, .09) inset;
    transition: all .35s;

    &:hover {
      color: rgba(255,255,255, .5);
      text-shadow: 0 1px 1px rgba(0,0,0, .3);
      background: linear-gradient(to top, #333 0%, #666);
      box-shadow: 0 3px 5px rgba(0,0,0, .35), 0 0 1px rgba(255,255,255, .15) inset;
    }

    &:active {
      color: rgba(255,255,255, .3);
      box-shadow: 0 0 2px rgba(0,0,0, .4), 0 0 1px rgba(255,255,255, .2) inset;
      opacity: .85;
      transition: all .1s;
    }
  }

  a.add-button {
    float: left;
    height: 26px;
    width: 35px;
    color: #555;
    font-size: 14px;
    line-height: 26px;
    text-shadow: 0 0 2px rgba(0,0,0, .25);
    opacity: .5;

    &.active {
      color: #777;
      text-shadow: 0 0 2px rgba(0,0,0, .85);
      opacity: .8;
    }

    &.active.hover {
      color: #999;
      text-shadow: 0 0 4px rgba(0,0,0, .95);
      opacity: 1;
      cursor: pointer;
    }
  }

  .transaction-confirm {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    padding-left: 15px;
    color: #444;
    font-size: 16px;
    font-weight: 500;
    line-height: 180px;
    text-align: center;
    text-shadow: 0 0 45px rgba(0,0,0, .45);
    opacity: 0;
    overflow: hidden;
    background: rgba(23,24,25, .95);
    box-shadow: 0 0 150px 0 rgba(0,0,0, .35) inset;
    transform: translateZ(0);
    transition: .4s;

    &.active {
      height: 220px;
      opacity: 1;
      transition: opacity .4s, height 0s;
    }

    i {
      font-size: 15px;
      padding: 0 6px 0 5px;
    }

    p {
      display: none;
      position: absolute;
      top: 16px;
      width: 100%;
      color: #BBB;
      font-size: 11px;
      left: 0;
      height: 50%;
    }
  }

  .team-select-reminder {
    display: none;
  }
}


// Trades
// --------------------------------------------------

#trades {

  &.tab-area.active {
    height: $trades-height + $trade-player-item-height;

    &.three-player-trade {
      height: $trades-height-3-player + $trade-player-item-height;
    }

    &.four-player-trade {
      height: $trades-height-4-player + $trade-player-item-height;
    }

    &.five-player-trade {
      height: $trades-height-5-player + $trade-player-item-height;
    }
  }

  #trade-drop-area {
    position: relative;
    height: 40px;
    width: 270px;
    margin: 0 auto 15px;
    color: rgba(255,255,255, .15);
    line-height: 37px;
    border: 1px dashed rgba(255,255,255, .1);
    border-radius: $border-radius;
    background: rgba(0,0,0, .15);
    transition: .2s;

    &.hover {
      color: rgba(255,255,255, .35);
      text-shadow: 0 3px 7px rgba(0,0,0, .35);
      background: rgba(23,24,25, .6);
      border-color: rgba(255,255,255, .1);
      box-shadow: 0 5px 40px 0 rgba(0,0,0, .5) inset;
    }
  }

  #trade-drop-area-cover {
    position: absolute;
    z-index: 4;
    top: 0;
    height: 100%;
    width: 100%;
  }

  #trade-team-select {
    width: 70px;
  }

  #trade-players-select {
    width: 155px;
    margin-left: 10px;
  }

  #trade-player-breakdown {
    position: relative;
    float: left;
    height: $trade-breakdown-height;
    width: 270px;
    margin-left: 15px;
    transform: translateZ(0);
    transition: .4s;
  }

  &.three-player-trade #trade-player-breakdown {
    height: $trade-breakdown-height + $trade-player-item;

    ul {
      height: $trade-breakdown-height + $trade-player-item;
    }
  }

  &.four-player-trade #trade-player-breakdown {
    height: $trade-breakdown-height + ($trade-player-item * 2);

    ul {
      height: $trade-breakdown-height + ($trade-player-item * 2);
    }
  }

  &.five-player-trade #trade-player-breakdown {
    height: $trade-breakdown-height + ($trade-player-item * 3);

    ul {
      height: $trade-breakdown-height + ($trade-player-item * 3);
    }
  }

  ul {
    float: left;
    height: $trade-breakdown-height;
    width: 120px;
    padding: 4px;
    color: rgba(255,255,255, .05);
    background: rgba(255,255,255, .03);
    border: 1px dashed rgba(255,255,255, .1);
    border-radius: $border-radius;
    box-shadow: 0 0 30px rgba(255,255,255, .03) inset;
    overflow: hidden;
    transform: translateZ(0);
    transition: .4s;

    &:first-of-type {
      margin-right: 30px;
    }

    &.active {
      background: rgba(255,255,255, .07);
      border-color: transparent;
      box-shadow: 0 0 30px rgba(255,255,255, .03) inset;
    }

    li {
      float: left;
      height: 0;
      width: 110px;
      margin-bottom: 0;
      padding: 0;
      text-align: left;
      font-size: 0;
      background: linear-gradient(to right, #222 0%, #111 100%);
      border-radius: $border-radius;
      opacity: 0;
      overflow: hidden;
      transform: translateZ(0);
      transition: opacity .2s, height .3s;

      &.active {
        height: $trade-player-item-height;
        margin-bottom: $trade-player-item-margin;
        padding: 5px 5px 5px 8px;
        color: #888;
        font-size: 10px;
        text-shadow: 0 1px 2px rgba(0,0,0, .3);
        opacity: 1;
        transition: opacity .45s, height .35s;

        a {
          height: 14px;
          width: 14px;
          font-size: 9px;
          line-height: 14px;
          opacity: 1;
          transition: all 0s;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      > span {
        float: left;
        height: 14px;
        line-height: 14px;

        &.lastname {
        width: 70px;
        padding-left: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
      }

      a {
        float: right;
        height: 0;
        width: 0;
        margin-bottom: 0;
        padding: 0;
        color: rgba(255,255,255, .3);
        font-size: 0;
        line-height: 0;
        text-align: center;
        opacity: 0;
        overflow: hidden;
        transition: all 0s;

        &:hover {
          color: rgba(255,255,255, .5);
          cursor: pointer;
        }
      }
    }
  }

  .trade-player-list-placeholder li {
    height: $trade-player-item-height * 2;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255, .3);
    font-size: 10px;
    line-height: $trade-player-item-height * 2;
    text-align: center;
    background: none;
    opacity: 1;
    transform: translateZ(0);
    transition: .4s;
  }

  &.three-player-trade .trade-player-list-placeholder li {
    height: ($trade-player-item-height * 3) + ($trade-player-item-margin * 2);
    line-height: ($trade-player-item-height * 3) + ($trade-player-item-margin * 2);
  }

  &.four-player-trade .trade-player-list-placeholder li {
    height: ($trade-player-item-height * 4) + ($trade-player-item-margin * 3);
    line-height: ($trade-player-item-height * 4) + ($trade-player-item-margin * 3);
  }

  &.five-player-trade .trade-player-list-placeholder li {
    height: ($trade-player-item-height * 5) + ($trade-player-item-margin * 4);
    line-height: ($trade-player-item-height * 5) + ($trade-player-item-margin * 4);
  }

  .trade-marker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    margin: auto;
    color: #444;
    font-size: 15px;
    line-height: 30px;
    transition: .3s;

    &.active {
      color: #666;
      text-shadow: 0 0 5px rgba(0,0,0, .25);
    }
  }

  button {
    width: 125px;
  }

  .transaction-confirm {
    line-height: $trades-height;

    &.active {
      height: $trades-height;
    }
  }


  &.three-player-trade .transaction-confirm {
    line-height: $trades-height-3-player;

    &.active {
      height: $trades-height-3-player;
    }
  }

  &.four-player-trade .transaction-confirm {
    line-height: $trades-height-4-player;

    &.active {
      height: $trades-height-4-player;
    }
  }

  &.five-player-trade .transaction-confirm {
    line-height: $trades-height-5-player;

    &.active {
      height: $trades-height-5-player;
    }
  }
}


// Free Agents
// --------------------------------------------------

#freeagents {

  .inner {
    background: url(../img/coming-soon-banner.svg);
    background-size: 48%;
    background-repeat: no-repeat;
    background-position: center 40%;
    opacity: .15;
  }
}


// Create Player
// --------------------------------------------------

#createplayer {

  #create-player-fname, #create-player-lname {
    width: 130px;
  }

  #create-player-lname {
    margin-left: 10px;
  }

  #create-player-jersey {
    width: 70px;
    margin-left: 10px;
  }

  #create-player-position {
    margin-left: 10px;
  }

  #create-player-salary {
    width: 130px;
    margin-bottom: 0;
    margin-left: 30px;
  }

  #create-player-salary-duration {
    width: 95px;
    margin-bottom: 0;
    margin-left: 10px;
  }
}
