// Transactions Panel
// ==================================================

#transactions {

  #transactions-menu {
    height: $transactions-menu-height;
    width: 300px;
    background: #BBB;

    li {
      float: left;
      height: $transactions-menu-height;
      width: 100px;
      margin: 0;
      line-height: $transactions-menu-height;

      a {
        float: left;
        height: inherit;
        width: 100%;
        color: #EEE;
        font-size: 11px;
        line-height: inherit;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background: linear-gradient(to top, rgba(0,0,0, .1) 0%, rgba(0,0,0, .4) 100%);
        transition: .25s;

        &:hover {
          color: #CCC;
        }

        &.active, &.active:hover {
          color: #555;
          background: linear-gradient(to top, #F8F8F8 20%, #CCC 100%);
          cursor: default;
        }
      }
    }
  }

  &.panel > .inner {
    height: auto;
    min-height: initial;
    max-height: initial;
    width: 300px;
    transition: height .75s;

    &.inactive {

      #transactions-menu, #createplayer, #trades, #freeagents {
        display: none;
      }

      .team-select-reminder {
        display: block;
        height: $trades-height + $transactions-menu-height;
        line-height: $trades-height + $transactions-menu-height;
      }
    }

    &.trades-active {
      height: $trades-height + $transactions-menu-height;
    }

    &.freeagents-active {
      height: $transactions-height;
    }

    &.createplayer-active {
      height: $transactions-height;
    }
  }

  .tab-area {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .4s, height 0s .4s;

    &.active {
      height: $transactions-panel-height;
      opacity: 1;
      transition: opacity .5s .4s, height 0s .4s;
    }

    .inner {
      position: relative;
      height: 100%;
      max-height: none;

      p {
        margin: 15px 0;
        color: #CCC;
        font-size: 11px;

        &.warning {
          color: #999;
        }
      }
    }
  }

  input {
    float: left;
    height: 26px;
    width: 100px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 0 3px 0 10px;
    line-height: 24px;
    background: #EEE;
    border: 1px solid #DDD;
    border-radius: 5px;
    transition: .35s;

    &::placeholder {
      color: #BBB;
    }

    &:hover {
      background: #E6E6E6;

      &::placeholder {
        color: #AAA;
      }
    }

    &:focus {
      border-color: #CCC;
    }

    &.active {
      background: #E6E6E6;
    }

    &.missing {
      background: #BBB;
      border-color: #AAA;

      &::placeholder {
        color: #EEE;
      }
    }
  }

  select {
    float: left;
    height: 26px;
    width: 90px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: #BBB;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    background: #EEE;
    border: 1px solid #DDD;
    transition: .35s;

    &:hover {
      color: #AAA;
      background: #E6E6E6;
    }

    &:focus {
      border-color: #CCC;
    }

    &.active {
      color: #777;
      background: #E6E6E6;
    }

    &.missing {
      color: #EEE;
      background: #BBB;
      border-color: #AAA;
    }
  }

  button {
    position: absolute;
    bottom: 18px;
    right: 0;
    left: 0;
    display: block;
    height: 30px;
    opacity: 1;
    width: 160px;
    margin: 0 auto;
    color: #EEE;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-shadow: 0 0 2px rgba(0,0,0, .25);
    border: 1px solid #9A9A9A;
    border-radius: $border-radius;
    background: #AAA;

    &:hover {
      color: #FFF;
      background: #9A9A9A;
    }
  }

  a.add-button {
    float: left;
    height: 26px;
    width: 35px;
    color: #DDD;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      color: #BBB;
      cursor: pointer;
    }
  }

  .transaction-confirm {
    position: absolute;
    top: 60px;
    height: 0;
    width: 100%;
    padding-left: 15px;
    line-height: 200px;
    opacity: 0;
    overflow: hidden;
    background: linear-gradient(to top, #DDD 0%, #F8F8F8 100%);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    transition: opacity .5s, height 0s .5s;

    &.active {
      height: 220px;
      opacity: 1;
      transition: opacity .5s, height 0s;
    }

    i {
      font-size: 13px;
      padding: 0 6px 0 5px;
    }

    p {
      display: none;
      position: absolute;
      top: 16px;
      width: 100%;
      color: #BBB;
      font-size: 11px;
      left: 0;
      height: 50%;
    }
  }

  .team-select-reminder {
    display: none;
  }
}


// Trades
// --------------------------------------------------

#trades {

  &.tab-area.active {
    height: $trades-height;
  }

  #trade-drop-area {
    height: 40px;
    width: 270px;
    margin: 0 auto 15px;
    color: #DDD;
    line-height: 37px;
    border: 1px dashed #DDD;
    border-radius: $border-radius;
    background: #F4F4F4;
  }

  #trade-team-select {
    width: 70px;
  }

  #trade-players-select {
    width: 155px;
    margin-left: 10px;
  }

  #trade-player-breakdown {
    position: relative;
    float: left;
    height: 58px;
    width: 270px;
    margin-left: 15px;
  }

  ul {
    float: left;
    min-height: 100%;
    width: 120px;
    padding: 4px;
    background: #F4F4F4;
    border: 1px dashed #DDD;
    border-radius: $border-radius;

    &:first-of-type {
      margin-right: 30px;
    }

    &.active {
      border: 1px solid #DDD;
    }

    li {
      margin-bottom: 4px;
      padding: 5px 5px 5px 8px;
      text-align: left;
      color: #777;
      font-size: 10px;
      background: #DDD;
      border-radius: $border-radius;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        float: right;
        height: 14px;
        width: 14px;
        color: #AAA;
        font-size: 9px;
        text-align: center;

        &:hover {
          color: #777;
          cursor: pointer;
        }
      }

      &.trade-team-placeholder {
        height: 52px;
        margin: 0;
        padding: 0;
        color: #DDD;
        line-height: 52px;
        text-align: center;
        background: none;
      }
    }
  }

  .trade-marker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    margin: auto;
    color: #E6E6E6;
    font-size: 15px;
    line-height: 30px;
  }

  button {
    width: 125px;
  }
}


// Free Agents
// --------------------------------------------------

#freeagents {

  .inner {
    color: #CCC;
    line-height: $transactions-panel-height;

    i {
      padding-left: 2px;
      font-size: 15px;
    }
  }
}


// Create Player
// --------------------------------------------------

#createplayer {

  #create-player-fname, #create-player-lname {
    width: 130px;
  }

  #create-player-lname {
    margin-left: 10px;
  }

  #create-player-jersey {
    width: 70px;
    margin-left: 10px;
  }

  #create-player-position {
    margin-left: 10px;
  }

  #create-player-salary {
    width: 130px;
  }

  #create-player-salary-duration {
    width: 95px;
    margin-left: 10px;
  }
}
